.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:whitesmoke;
    overflow-x: hidden;
    padding-top: 0px;
    margin-top: 20px;
    box-shadow:5px 10px 9px darkgrey;
  }
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .icon{
      background-color: aqua;
      height:150px;
      padding: 20px 20px ;
  }
  .icon-container{
    
  }