<h1>My Quotes</h1>
<hr>
<div class="container">
    <div class="row" *ngFor='let quote of quotes;let i = index'>
      <div class="row">
        <li appHighlighQuote >{{quote.quoteName}} quote posted on {{quote.dateOfSubmit|date}}</li>
        <span (click)='toogleDetails(i)'>quote Details</span>
      </div>
      <div class="row" *ngIf="quote.showQuoteBody">
        <app-quote-details  [quote]='quote'(isComplete)= 'deleteQuote($event,i)'></app-quote-details>
      </div>
    </div>
</div>

  <p *ngIf='quotes.length > 5'>You have too many goals</p>

  