<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">

                <label for="quoteName">Name</label>
                <input type="text"  class="form-control" id="quoteName" [(ngModel)]="newQuote.quoteName" name="quoteName" #quoteName="ngModel" required>
                <div [hidden]="quoteName.valid || quoteName.pristine" class="alert alert-danger">
                        <p> Name is Required</p>     
                </div>
            </div>
            <div class="form-group">

                <label for="quoteBody">Description</label>
                <textarea class="form-control" id="quoteBody" rows="4" [(ngModel)]="newQuote.quoteBody" name="quoteBody" #quoteBody="ngModel" required></textarea>
                <div [hidden]="quoteBody.valid || quoteBody.pristine || quoteBody.untouched" class="alert alert-danger">
                 <p> Details is Required</p>       
                </div> 
            </div>
            <div class="form-group">
                <label for="author">author</label>
                <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                        <p> Author is Required</p>       
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg">post</button>
        </form>
    </div>
</div>